--extra-index-url https://download.pytorch.org/whl/cu124
ruff
accelerate
bitsandbytes
customtkinter
dadaptation
diffusers
huggingface-hub
invisible-watermark
lion-pytorch
matplotlib
numpy
omegaconf
onnxruntime-gpu
open-clip-torch
opencv-contrib-python-headless
pillow
pooch==1.8.1
prodigyopt
pytorch_optimizer
pytorch-lightning
PyYAML
safetensors
scalene
schedulefree
scipy
tensorboard
torch
torchvision
tqdm
transformers
ultralytics
einops
flash_attn