--extra-index-url https://download.pytorch.org/whl/cu124
# versioned
deepface==0.0.93
diffusers==0.30.3
pooch==1.8.1
pydantic==1.10.15
setuptools==69.5.1
tensorflow==2.16.2
torch==2.4.1+cu124
torchvision==0.19.1+cu124
transformers==4.43.4
# latest
accelerate
bitsandbytes
customtkinter
dadaptation
einops
huggingface-hub
invisible-watermark
keras
lion-pytorch
matplotlib
numpy
omegaconf
onnxruntime-gpu
open-clip-torch
opencv-contrib-python-headless
pi_heif
pillow
prodigyopt
pylint
pytorch_optimizer
pytorch-lightning
PyYAML
rembg
rich
ruff
safetensors
scalene
schedulefree
scipy
tensorboard
tf-keras
torch
torchvision
tqdm
ultralytics
