--extra-index-url https://download.pytorch.org/whl/cu124
accelerate
bitsandbytes
customtkinter
dadaptation
diffusers
einops
flash_attn
huggingface-hub
invisible-watermark
keras
lion-pytorch
matplotlib
numpy
omegaconf
onnxruntime-gpu
open-clip-torch
opencv-contrib-python-headless
pillow
pooch==1.8.1
prodigyopt
pytorch_optimizer
pytorch-lightning
PyYAML
ruff
safetensors
scalene
schedulefree
scipy
tensorboard
tensorflow==2.16.2
tf-keras
torch
torchvision
tqdm
transformers
ultralytics
